<li [ngClass]="{ playing: entry.playing }" class="list-row">
  <div class="img-container-small">
    <bs-artwork [albumid]="entry.albumid" [service]="entry.service"></bs-artwork>
  </div>
  <div>
    <button (click)="jumpTo(entry)" mat-icon-button title="Play" class="control-button">
      <mat-icon>play_circle_outline</mat-icon>
    </button>
  </div>
  <div class="main-grow-element">
    <h3 class="song--title-1">{{ entry.title }}</h3>
    {{ entry.art }} <small>{{ entry.alb }}</small>
  </div>
  <div>
    <button mat-icon-button (click)="clearEntry(entry)" title="Remove"><mat-icon>close</mat-icon></button>
  </div>
  <app-context-menu [item]="entry"></app-context-menu>
</li>
