<div class="app-menu">
  <a mat-button routerLink="/player" routerLinkActive="active-link"><mat-icon>menu</mat-icon>Player</a>
  <a mat-button routerLink="/search" routerLinkActive="active-link"><mat-icon>search</mat-icon>Search</a>
  <a mat-button routerLink="/services" routerLinkActive="active-link"><mat-icon>settings</mat-icon>Services</a>
  <a mat-button routerLink="/settings" routerLinkActive="active-link"><mat-icon>settings</mat-icon>Settings</a>
</div>
<router-outlet class="router-outlet"></router-outlet>
