.row {
  display: flex;
  width: 100%;
  // justify-content: center;
  // vertical-align: center;
}

.panel {
  padding: 0.5em;
}

.main-title {
  font-size: 36pt;
}

mat-slider {
  width: 100%;
}

.track-position {
  width: 100%;
}

.track-position-digits {
  font-size: 64px;
  line-height: 70px;
  font-family: monospace;
  small {
    font-size:50%;
  }
  pre {
    margin:0;
  }
}



.trackImage {
  width: 320px;
}

.serviceIcon {
  width: 1em;
}