// $foreground: #bbb;
// $background: #112;


// $placeholder: #404;
// $highlight: #404;
// $highlight2: #754;


$foreground: #333;
$background: #bbb;


$placeholder: #123;
$highlight: #ccb;
$highlight2: #e0e8d4;
